* {
    margin: 5px;
}

h1 {
    margin-left: 10px;
    font-weight: 500;
}

#emptyPlaceHolder {
    margin-left: 10px;
}

.tasks-area {
    display: flex;
    flex-wrap: wrap;
}

app-task-details {
    flex-basis: 20%;
}