* {
    margin: 5px;
}

h1 {
    margin-left: 10px;
    font-weight: 500;
}

#emptyPlaceHolder {
    margin-left: 10px;
}

.tasks-area {
    display: flex;
    flex-wrap: wrap;
}

mat-card {
    flex-basis: 20%;
    border-width: 2px;
    border-color: gray;
}

mat-card-content {
    height: 2em;
}