<app-toolbar-main></app-toolbar-main>
<div>
    <form #profileForm="ngForm" (submit)="onSaved()">
        <mat-card align="center">
            <div>
                <mat-card-title>PROFILE</mat-card-title>
                <mat-card-subtitle>{{this.name}} ({{this.email}})</mat-card-subtitle>
            </div>
            <br>
            <mat-card-content>
                <div class="row">
                    <mat-form-field>
                        <mat-label>Age</mat-label>
                        <input name="age" type="number" matInput [(ngModel)]="this.age" #ageBox="ngModel" required validAge>
                        <mat-hint [hidden]="ageBox.valid || ageBox.pristine">
                            Allowed ages range: from 12 to 123.
                        </mat-hint>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field>
                        <mat-label>Status</mat-label>
                        <textarea matInput name="status" [(ngModel)]="this.status"></textarea>
                    </mat-form-field>
                </div>
                <div class="row">
                    <button mat-raised-button color="primary" [disabled]="!profileForm.form.valid">Save</button>
                </div>
            </mat-card-content>
        </mat-card>
    </form>
</div>