* {
    margin: 5px;
}

h1 {
    margin-left: 10px;
    font-weight: 500;
}

#emptyPlaceHolder {
    margin-left: 10px;
}

.search-header {
    display: flex;
    align-items: flex-start;
}
.search-header > input {
    flex: 5;
    min-height: 3em;
}
.search-header > mat-form-field {
    flex: 1;
}

.tasks-area {
    display: flex;
    flex-wrap: wrap;
}

app-task-details {
    flex-basis: 20%;
}