* {
    margin: 5px;
}

h1 {
    margin-left: 10px;
    font-weight: 500;
}

#emptyPlaceHolder {
    margin-left: 10px;
}

.search-header {
    display: flex;
    align-items: flex-start;
}
.search-header > input {
    flex: 4;
    min-height: 3em;
}
.search-header > mat-form-field {
    flex: 1;
}

.tasks-area {
    display: flex;
    flex-wrap: wrap;
}

mat-card {
    width: 20%;
    border-width: 2px;
    border-color: gray;
}

mat-card-content {
    height: 2em;
}